<div class='counter__container' id='counter__container'>
  <p class='counter__count' id='counter__count'>{{count}}</p>
  <div class='counter__buttons'>
    <button class='counter__button' id='counter__increment'>+</button>
    <button class='counter__button' id='counter__decrement'>-</button>
  </div>
</div>