<div id='todo__container' class='todo__container'>
  <h1 class='todo__title'>My TODO</h1>
  <div class='todo__content'>
    <label for='todo-input'>New TODO</label>
    <input type='text' id='todo-input' />
    <button id='add-todo-btn' disabled>Add</button>
  </div>
</div>